In [23]:
import pandas as pd
import numpy as np

data=pd.read_csv('metal.csv',encoding='latin-1',sep=',')
data.head(5)

,Unnamed: 0,band_name,fans,formed,origin,split,style
0,0,Iron Maiden,4195,1975,United Kingdom,-,"New wave of british heavy,Heavy"
1,1,Opeth,4147,1990,Sweden,1990,"Extreme progressive,Progressive rock,Progressive"
2,2,Metallica,3712,1981,USA,-,"Heavy,Bay area thrash"
3,3,Megadeth,3105,1983,USA,1983,"Thrash,Heavy,Hard rock"
4,4,Amon Amarth,3054,1988,Sweden,-,Melodic death

In [24]:
data.isnull().sum()

Unnamed: 0    0
band_name     0
fans          0
formed        0
origin        8
split         0
style         0
dtype: int64

In [25]:
data.drop(columns="Unnamed: 0",inplace=True)

In [26]:
data.describe()

              fans
count  5000.000000
mean     87.805800
std     296.137523
min       0.000000
25%       4.000000
50%      12.000000
75%      42.000000
max    4195.000000

In [27]:
data.replace('-',np.nan,inplace=True)

In [28]:
data.fillna(0)

,band_name,fans,formed,origin,split,style
0,Iron Maiden,4195,1975,United Kingdom,0,"New wave of british heavy,Heavy"
1,Opeth,4147,1990,Sweden,1990,"Extreme progressive,Progressive rock,Progressive"
2,Metallica,3712,1981,USA,0,"Heavy,Bay area thrash"
3,Megadeth,3105,1983,USA,1983,"Thrash,Heavy,Hard rock"
4,Amon Amarth,3054,1988,Sweden,0,Melodic death
...,...,...,...,...,...,...
4995,Atara,0,2006,France,2006,"Black,Grindcore"
4996,Avicularia,0,2003,Croatia,0,Avantgarde death
4997,Awake,0,2006,United Kingdom,2006,"Heavy,Progressive"
4998,Axatak,0,1983,Australia,1988,"Hard rock,Heavy"
4999,Axis Of Despair,0,2014,Sweden,2014,Grindcore

In [29]:
data.isnull().sum() # after turning all the missing values to null

band_name       0
fans            0
formed          4
origin          8
split        2215
style           0
dtype: int64

In [30]:
data['formed'].describe()

count     4996
unique      52
top       2005
freq       270
Name: formed, dtype: object

In [31]:
data['formed']=data['formed'].astype(float)

In [32]:
data['formed'].dtypes

dtype('float64')

In [33]:
data['split']=data['split'].astype(float)

In [34]:
data.describe()

              fans       formed        split
count  5000.000000  4996.000000  2785.000000
mean     87.805800  2000.416533  2001.239497
std     296.137523     8.884581     8.940120
min       0.000000  1964.000000  1965.000000
25%       4.000000  1995.000000  1996.000000
50%      12.000000  2002.000000  2003.000000
75%      42.000000  2007.000000  2008.000000
max    4195.000000  2016.000000  2016.000000

In [35]:
# l'ecart-type c'est la dispertion d'une valeur par rapport a ca moyenne

In [36]:
data['origin'].unique()

array(['United Kingdom', 'Sweden', 'USA', 'Finland', 'Germany', 'Poland',
       'Norway', 'The Netherlands', 'Switzerland', 'France', 'Brazil',
       'Portugal', 'Australia', 'Greece', 'Italy', 'United Kingdom, USA',
       'Austria', 'Canada', 'Israel', 'Denmark, USA', 'Ireland',
       'Faroe Islands', 'Denmark', 'Russia', 'Ukraine', 'Spain',
       'Israel, The Netherlands', 'Iceland', 'Andorra', 'Tunisia, France',
       'Belgium', 'Romania', 'Chile', 'Japan', 'Colombia, USA', 'Taiwan',
       'Hungary, United Kingdom', nan, 'Hungary', 'New Zealand',
       'Greece, Sweden', 'Sweden, Finland', 'Australia, United Kingdom',
       'Estonia', 'Jordan', 'Latvia', 'Slovenia', 'Iran', 'Mexico',
       'Argentina', 'Turkey', 'UAE', 'Liechtenstein', 'Czech Republic',
       'Norway, Finland', 'Serbia', 'Belgium, United Kingdom', 'Egypt',
       'Russia, Canada', 'Indonesia', 'Iraq, USA', 'Lithuania', 'China',
       'India', 'Slovak Republic', 'Kyrgyzstan, Germany', 'Singapore',
       'Lebanon', 'Croatia', 'Malta', 'Luxembourg', 'Syria',
       'Saudi Arabia', 'Georgia', 'USA, Cyprus', 'Bahrain', 'Iraq',
       'Korea, South', 'Malaysia', 'South Africa', 'Bulgaria',
       'Greece, USA', 'Israel, Germany', 'Peru', 'Macedonia',
       'Portugal, United Kingdom', 'Bosnia and Herzegovina', 'Belarus',
       'Monaco', 'Moldova', 'Costa Rica',
       'Bosnia and Herzegovina, Croatia', 'Colombia', 'Cyprus',
       'Iran, Norway', 'Finland, Sweden', 'Ukraine, Canada', 'Bolivia',
       'Sri Lanka', 'Armenia', 'Azerbaijan', 'Lithuania, United Kingdom',
       'Ecuador', 'Mexico, USA', 'Canada, France', 'Albania', 'Jersey',
       'Lithuania, Germany', 'United Kingdom, Greece', 'Swaziland',
       'Italy, Spain', 'Venezuela', 'Poland, Sweden', 'Greenland'],
      dtype=object)

In [37]:
len(data['origin'].unique())

114

In [38]:
data['origin'].isnull().sum()

8

In [39]:
data.groupby('origin').count()

                        band_name  fans  formed  split  style
origin
Albania                         1     1       1      1      1
Andorra                         1     1       1      1      1
Argentina                      18    18      18      8     18
Armenia                         1     1       1      1      1
Australia                     131   131     131     71    131
...                           ...   ...     ...    ...    ...
Ukraine, Canada                 1     1       1      0      1
United Kingdom                345   345     344    199    345
United Kingdom, Greece          1     1       1      0      1
United Kingdom, USA             3     3       3      2      3
Venezuela                       1     1       1      0      1

[113 rows x 5 columns]

In [40]:
data[['origin','band_name']].groupby('origin').count().sort_values(['band_name'],ascending=False)

                           band_name
origin
USA                             1139
Sweden                           476
Germany                          397
United Kingdom                   345
Finland                          307
...                              ...
Lithuania, Germany                 1
Lithuania, United Kingdom          1
Macedonia                          1
Malaysia                           1
Venezuela                          1

[113 rows x 1 columns]

In [41]:
#groupes dont l'origine geographique est les USA
data[data['origin']=='USA']

,band_name,fans,formed,origin,split,style
2,Metallica,3712,1981.0,USA,NaN,"Heavy,Bay area thrash"
3,Megadeth,3105,1983.0,USA,1983.0,"Thrash,Heavy,Hard rock"
5,Slayer,2955,1981.0,USA,1981.0,Thrash
6,Death,2690,1983.0,USA,2001.0,"Progressive death,Death,Progressive thrash"
7,Dream Theater,2329,1985.0,USA,1985.0,Progressive
...,...,...,...,...,...,...
4968,Yellow Eyes,1,2010.0,USA,NaN,Black
4970,Your Chance To Die,1,2007.0,USA,NaN,"Melodic death,Metalcore"
4977,A Lower Deep,0,2000.0,USA,2000.0,"Progressive,Thrash,Power"
4984,Anger As Art,0,2004.0,USA,NaN,Thrash
4988,Apothesary,0,2009.0,USA,NaN,"Thrash,Melodic death"

In [42]:
data[data['formed']>=2008]

,band_name,fans,formed,origin,split,style
184,Ghost,547,2008.0,Sweden,NaN,"Heavy,Psychedelic rock"
327,Triptykon,265,2008.0,Switzerland,2008.0,"Blackened thrash,Death"
348,Amaranthe,247,2008.0,Sweden,NaN,"Power,Industrial"
409,Atoma,206,2011.0,Sweden,2011.0,"Post-metal,Post-rock"
411,Luca Turilli's Rhapsody,206,2011.0,Italy,2011.0,Symphonic power
...,...,...,...,...,...,...
4982,Altars Of Grief,0,2013.0,Canada,NaN,"Funeral doom,Death doom,Atmospheric doom"
4985,Angist,0,2009.0,Iceland,2009.0,Death
4988,Apothesary,0,2009.0,USA,NaN,"Thrash,Melodic death"
4989,Apparatus,0,2012.0,Denmark,2012.0,Blackened death
4999,Axis Of Despair,0,2014.0,Sweden,2014.0,Grindcore

In [43]:
data[(data['formed']>=2010) & (data['origin']=='USA')]

,band_name,fans,formed,origin,split,style
455,Deafheaven,179,2010.0,USA,2010.0,"Atmospheric black,Post-metal,Shoegaze"
721,Wilderun,96,2012.0,USA,2012.0,Symphonic folk
956,Newsted,64,2012.0,USA,2013.0,Heavy
961,Amiensus,63,2010.0,USA,2010.0,"Melodic black,Progressive"
968,Killer Be Killed,63,2011.0,USA,NaN,Groove metal
...,...,...,...,...,...,...
4959,Wovoka,1,2013.0,USA,2013.0,"Doom,Post-metal,Sludge"
4960,Wretch,1,2015.0,USA,NaN,Doom
4962,WVRM,1,2013.0,USA,NaN,Grindcore
4966,Yautja,1,2011.0,USA,NaN,"Sludge,Hardcore"
4968,Yellow Eyes,1,2010.0,USA,NaN,Black

In [44]:
data['band_name'][(data['origin']=='USA') & (data['formed']>=2010)]

455           Deafheaven
721             Wilderun
956              Newsted
961             Amiensus
968     Killer Be Killed
              ...
4959              Wovoka
4960              Wretch
4962                WVRM
4966              Yautja
4968         Yellow Eyes
Name: band_name, Length: 210, dtype: object

In [45]:
print(data['fans'][(data['origin']=='USA') & (data['formed']>=2010)].mean())
print(data['fans'][(data['origin']=='USA') & (data['formed']<=2010)].mean())

10.861904761904762
130.93896236012208

In [46]:
#feature modelling c ad dire des valeurs manquantes a partir de celles presentes pour pouvoir tirer une conclusion
# trouvons par exemple la durre moyenne d'un groupe de metale

In [47]:
data['duration']=data['split']-data['formed']

In [48]:
data['duration'].describe()

count    2785.000000
mean        1.087612
std         3.816114
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        41.000000
Name: duration, dtype: float64

In [49]:
data['band_name'].str.upper().head(5)

0    IRON MAIDEN
1          OPETH
2      METALLICA
3       MEGADETH
4    AMON AMARTH
Name: band_name, dtype: object

In [50]:
data[(data['style'].str.contains('Thrash')) & (data['formed']>=2005)]

,band_name,fans,formed,origin,split,style,duration
354,Cavalera Conspiracy,243,2007.0,USA,NaN,Thrash,NaN
370,Revocation,234,2006.0,USA,NaN,"Technical death,Thrash",NaN
504,Legion Of The Damned,156,2005.0,The Netherlands,NaN,"Thrash,Death",NaN
697,Lazarus A.D.,99,2005.0,USA,2005.0,Thrash,0.0
810,Bonded By Blood,80,2005.0,USA,NaN,Thrash,NaN
...,...,...,...,...,...,...,...
4802,Project: Roenwolfe,1,2011.0,USA,NaN,"Power,Thrash",NaN
4922,Tulsadoom,1,2007.0,Austria,NaN,"Blackened heavy,Thrash",NaN
4940,Voices From Beyond,1,2006.0,Italy,NaN,Thrash,NaN
4978,Absence Of The Sacred,0,2005.0,Singapore,NaN,"Progressive death,Thrash",NaN
4988,Apothesary,0,2009.0,USA,NaN,"Thrash,Melodic death",NaN

In [51]:
#str.strip()
data['style'].str.split(',')

0                      [New wave of british heavy, Heavy]
1       [Extreme progressive, Progressive rock, Progre...
2                                [Heavy, Bay area thrash]
3                              [Thrash, Heavy, Hard rock]
4                                         [Melodic death]
                              ...
4995                                   [Black, Grindcore]
4996                                   [Avantgarde death]
4997                                 [Heavy, Progressive]
4998                                   [Hard rock, Heavy]
4999                                          [Grindcore]
Name: style, Length: 5000, dtype: object

In [52]:
data['style']=data['style'].str.split(',')

In [53]:
data['style'][0][1]

'Heavy'

In [54]:
def multiple_unique(liste):
    if len(liste)==0:
        result=np.nan
    elif len(liste)==1:
        result="unique"
    else :
        result="multiple"
    return result

In [55]:
data['nombresStyles']=multiple_unique(data['style'])

In [62]:
data['nombresStyles'].value_counts()

unique      2809
multiple    2191
Name: nombresStyles, dtype: int64

In [59]:
data['nombresStyles']=data['style'].apply(lambda x : multiple_unique(x))

In [61]:
data['nombresStyles'].value_counts()

unique      2809
multiple    2191
Name: nombresStyles, dtype: int64

In [63]:
data.rename(columns={'nombresStyles':'nombresDeStyles'},inplace=True)
data

,band_name,fans,formed,origin,split,style,duration,nombresDeStyles
0,Iron Maiden,4195,1975.0,United Kingdom,NaN,"[New wave of british heavy, Heavy]",NaN,multiple
1,Opeth,4147,1990.0,Sweden,1990.0,"[Extreme progressive, Progressive rock, Progre...",0.0,multiple
2,Metallica,3712,1981.0,USA,NaN,"[Heavy, Bay area thrash]",NaN,multiple
3,Megadeth,3105,1983.0,USA,1983.0,"[Thrash, Heavy, Hard rock]",0.0,multiple
4,Amon Amarth,3054,1988.0,Sweden,NaN,[Melodic death],NaN,unique
...,...,...,...,...,...,...,...,...
4995,Atara,0,2006.0,France,2006.0,"[Black, Grindcore]",0.0,multiple
4996,Avicularia,0,2003.0,Croatia,NaN,[Avantgarde death],NaN,unique
4997,Awake,0,2006.0,United Kingdom,2006.0,"[Heavy, Progressive]",0.0,multiple
4998,Axatak,0,1983.0,Australia,1988.0,"[Hard rock, Heavy]",5.0,multiple
4999,Axis Of Despair,0,2014.0,Sweden,2014.0,[Grindcore],0.0,unique